.header {
	position: relative;
	height: 50px;
	background: black;
	font-family: "Enriqueta",serif;
	font-size: 0;
	z-index: 2;

	.header-section {
		display: inline-block;
		vertical-align: top;
		/* width: 33.33%;
		min-width: 250px; */
		font-size: 16px;
	}
}

.primary-nav {
	display: inline-block;
	vertical-align: top;
}

.device-menu {
	display: inline-block;
	vertical-align: top;
	height: 50px;
	overflow: hidden;
	background: black;
	padding: 0 .5em;

	&:hover {
		height: auto;
	}

	> h1 {
		display: block;
		height: 50px;
		line-height: 50px;
		margin: 0;
		font-weight: normal;
		color: white;
	}

	section {
		display: inline-block;
		vertical-align: top;
	}

	h2 {
		margin: 0;
		font-weight: normal;
		color: white;	
	}

	a {
		display: block;
		height: 30px;
		line-height: 30px;
		color: white;
	}
}

form {
	height: 50px;
	padding: 0 .5em;
	text-align: center;

	> input {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		display: inline-block;
		height: 30px;
		padding: 5px;
		line-height: 20px;
		margin: 10px 5px 10px 0;
		border: 0 none;
		outline: 0 none;
		box-shadow: 0 0 1px #404040;
	}
}

button {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: inline-block;
	height: 30px;
	padding: 5px;
	margin: 10px 0;
}