.screen {
	width: 320px;
	height: 480px;

	display: block;
	border: 20px solid black;
	border-radius: 15px;
	margin: 20px auto 0;
	padding: 0;
	background: url('/assets/images/spinner.gif') no-repeat 50% 50% rgba(0,0,0,.7);
	box-shadow: 0 0 15px rgba(0,0,0,0.5);

	overflow-y: scroll;

	&.loaded {
		-webkit-transition: 1s;
		-moz-transition: 1s;
		transition: 1s;
	}
}