.header {
  position: relative;
  height: 50px;
  background: black;
  font-family: "Enriqueta",serif;
  font-size: 0;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  z-index: 2;
  background: #000000;
  background: -moz-linear-gradient(top, black 0%, #111111 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, black), color-stop(100%, #111111));
  background: -webkit-linear-gradient(top, black 0%, #111111 100%);
  background: -o-linear-gradient(top, black 0%, #111111 100%);
  background: -ms-linear-gradient(top, black 0%, #111111 100%);
  background: linear-gradient(to bottom, black 0%, #111111 100%); }
  .header .header-section {
    display: inline-block;
    vertical-align: top;
    /* width: 33.33%;
    min-width: 250px; */
    font-size: 16px; }

.primary-nav {
  display: inline-block;
  vertical-align: top; }

.device-menu {
  display: inline-block;
  vertical-align: top;
  height: 50px;
  overflow: hidden;
  padding: 0 .5em; }
  .device-menu:hover {
    height: auto;
    background: black;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5); }
  .device-menu > h1 {
    display: block;
    height: 50px;
    line-height: 50px;
    margin: 0;
    font-weight: normal;
    color: white; }
  .device-menu section {
    display: inline-block;
    vertical-align: top; }
  .device-menu h2 {
    margin: 0;
    font-weight: normal;
    color: white; }
  .device-menu a {
    display: block;
    height: 30px;
    line-height: 30px;
    color: white; }

form {
  height: 50px;
  padding: 0 .5em;
  text-align: center; }
  form > input {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    height: 30px;
    padding: 5px;
    line-height: 20px;
    margin: 10px 5px 10px 0;
    border: 0 none;
    outline: 0 none;
    box-shadow: 0 0 1px #404040; }

button {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  height: 30px;
  padding: 5px;
  margin: 10px 0; }

.screen {
  width: 320px;
  height: 480px;
  display: block;
  border: 20px solid black;
  border-radius: 15px;
  margin: 20px auto 0;
  padding: 0;
  background: url("/assets/images/spinner.gif") no-repeat 50% 50% rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  overflow-y: scroll; }
  .screen.loaded {
    -webkit-transition: 1s;
    -moz-transition: 1s;
    transition: 1s; }

html {
  position: relative;
  min-height: 100%; }

body {
  margin: 0;
  padding: 0 0 50px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16vw;
  background: url("/assets/images/ios-linen.png") repeat 0 0 #444444;
  color: #eee; }

a {
  color: #b4b4b4;
  text-decoration: none; }

p a {
  text-decoration: underline; }

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
  text-align: center; }
