.header {
  height: 44px;
  background: black;
  font-family: "Enriqueta",serif; }

.primary-nav {
  display: inline-block;
  vertical-align: top; }

.sub-menu {
  display: inline-block;
  height: 44px;
  overflow: hidden;
  background: black;
  padding: 0 .5em; }
  .sub-menu:hover {
    height: auto; }
  .sub-menu > h1 {
    display: block;
    height: 44px;
    line-height: 44px;
    margin: 0;
    font-weight: normal;
    color: white; }
  .sub-menu > a {
    display: block;
    height: 44px;
    line-height: 44px;
    color: white; }

form {
  display: inline-block;
  vertical-align: top;
  height: 44px;
  padding: 0 .5em; }

.screen {
  width: 320px;
  height: 480px;
  display: block;
  border: 20px solid black;
  border-radius: 15px;
  margin: 20px auto 0;
  padding: 0;
  overflow-y: scroll; }
  .screen.loaded {
    -webkit-transition: 1s;
    -moz-transition: 1s;
    transition: 1s; }

html {
  position: relative;
  min-height: 100%; }

body {
  margin: 0;
  padding: 0 0 50px;
  font-family: 'Open Sans', sans-serif; }

a {
  text-decoration: none; }

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
  text-align: center; }
