@import "header";
@import	"screen";

html {
	position: relative;
	min-height: 100%;
}
body {
	margin: 0;
	padding: 0 0 50px;
	font-family: 'Open Sans', sans-serif;
	background: url('/assets/images/ios-linen.png') repeat 0 0 #444;
	color: #eee;
}

a {
	color: #b4b4b4;
	text-decoration: none;
}

p a {
	text-decoration: underline;
}

.footer {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 50px;
	text-align: center;
}